body {
    margin: 0;
    padding: 70px 0 0;
    box-sizing: border-box;
    font-family: 'YouAndPeopleKS';
}
.part_title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 32px;

    padding: 30px 0;
    box-sizing: border-box;
}
.part_title > span{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-left: 37px;
}

@font-face {
    font-family: 'YouAndPeopleKS';
    src: url('../fonts/유앤피플\ 고딕\ KS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* *********************************************************************** */
#header {
    width: 100%;
    height: 70px;
    line-height: 70px;

    background: rgba(255, 255, 255, 1);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: end;

    border-bottom: 1px solid #ddd;
}
#header div {
    transition: all 0.5s;
}
#header div:hover {
    background: rgb(180, 175, 175);
}
#header a {
    display: block;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: black;

    font-size: 24px;
    padding: 0 40px;
    box-sizing: border-box;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    transition: all 0.5s;
}
#header div:hover a {
    color: aliceblue;
}

/* *********************************************************************** */
#landing_part {
    width: 100%;
    height: calc(100vh - 70px);

    position: relative;
}
.landing_part_content {
        width: 800px;
        height: 400px;
        line-height: 77px;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
}
.landing_hello {
    font-size: 34px;

    opacity: 0;

    animation: opacity 1s linear forwards
}
.landing_position {
    font-size: 45px;

    opacity: 0;
    transform: translateX(10%);

    animation: opacity 1s linear 1s forwards
}
@keyframes opacity {
    0% { opacity: 0;} 
    100% { opacity: 1;}
}


.landing_word {
    display: none;
}
.display_word {
    width: 100%;
    line-height: 100px;

    margin: 0 auto;

    font-size: 90px;
    word-break: break-all;

    transform: translateX(35%);
}


/* *********************************************************************** */
#stackCheck_part {
    width: 100%;
}
.stack_part_content {
    width: 100%;
    max-width: 1200px;

    height: 100%;

    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.stack_item {
    width: calc(50% - 25px);
}
.stack_title {
    line-height: 55px;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
    box-sizing: border-box;

    text-align: center;
}
.stack_container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.stack_container_one {
    justify-content: center;
}
.stack {
    width: 50%;

    font-size: 20px;
    line-height: 35px;
    padding: 5px 40px;
    box-sizing: border-box;
    text-align: center;
}
.stack img {
    width: 100%;
    height: 160px;
}



/* *********************************************************************** */
#portfolio_part {
    width: 100%;
    height: 700px;
    padding: 50px 0 0;
}
.port_part_content {
    width: 100%;
    max-width: 1200px;
    height: 100%;

    margin: 0 auto;
    padding: 50px 0;
    box-sizing: border-box;
}
.port_part_content_item1 a {
    display: block;
    width: 100%;
    height: 100%;

    text-decoration: none;
    color: black;
}
.port_content_box {
    width: 100%;
    height: 100%;

    display: flex;
    gap: 20px;
}
.port_img_box {
    width: 30%;
    height: 100%;
}
.port_img {
    width: 100%;
    height: 500px;
}
.port_context {
    width: calc(70% - 20px);
    height: 500px;

    border: 2px solid #e4e5e2;
    box-sizing: border-box;
}
.p_c_title {
    line-height: 140px;
    padding: 0 10px;
    box-sizing: border-box;

    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #cd9d67;
}
.p_c_skill {
    width: 100%;

    text-align: center;
    font-weight: bold;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.p_c_skill span {
    padding: 5px 8px;
}
.txt_color_bold {
    background-color: #cd9d67;
    font-weight: bold;

    border-radius: 5px;
}
.p_c_txt {
    width: 100%;

    padding: 50px 20px;
    box-sizing: border-box;

}

.about_wrap {
    box-shadow: 0 0 2px 3px #cdcdcd;
    padding: 30px 20px;
}

/* *********************************************************************** */
#aboutMe_part {
    width: 100%;

    padding: 50px 0;
    box-sizing: border-box;
}
.about_part_content {
    width: 100%;
    max-width: 1200px;

    height: 100%;

    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    gap: 20px;

    padding: 50px 0;
    box-sizing: border-box;
}
.about_part_con_img {
    width: 30%;
    height: 383px;

    background: url("../img/aboutme/man.png") no-repeat center/cover;
}
.about_part_con_title {
    width: calc(70% - 20px);
    line-height: 40px;

    font-size: 24px;
    font-weight: bold;
}
.about_part_con_txt {
    padding: 30px 0px;
    box-sizing: border-box;

    font-size: 20px;
}




/* *********************************************************************** */
#contact_part {
    width: 100%;
    padding: 50px 0;

    text-align: center;
}
.contact_part_content {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    padding: 50px 0;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.kakao_id_link,
.email a {
    text-decoration: none;
    color: black;
}
.kakao a,
.email a {
    display: block;
    width: 100%;
    height: 100%;
}
.email img,
.kakao img,
.phoneCall img {
    width: 150px;
    height: 150px;
}